# แบบทดสอบการจัดการกับ List

## นาย โสภณวิชญ์ ปฏิเหตุ 6812732139

In [6]:
lt = [1, 2, 3, 4, 5]

## 1. เพิ่มข้อมูลเข้าไปใน list ทีละตัว

100, 200, 300, 400

In [7]:
lt.append(100)

In [8]:
lt.append(200)

In [9]:
lt.append(300)

In [10]:
lt.append(400)

In [11]:
print(lt)

[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 2. นำ List เพิ่มเข้าใน lt

In [12]:
sub = [6, 7, 8, 9, 10]

In [13]:
lt.append(sub)

In [14]:
lt

[1, 2, 3, 4, 5, 100, 200, 300, 400, [6, 7, 8, 9, 10]]

## 3. เข้าถึงเข้ามูลตัวสุดท้ายภายใน list

In [15]:
lt[-1]

[6, 7, 8, 9, 10]

## 4. นำข้อมูลตัวสุดท้ายออกจาก list

In [16]:
print(lt.pop())

print(lt)

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 5. นำข้อมูลตัวที่ 5 ออกจาก list

In [17]:
del lt[4]

In [18]:
lt

[1, 2, 3, 4, 100, 200, 300, 400]

## 6. เพิ่มคำว่า "Python" เข้าไปใน list ตำแหน่งที่ 3

In [19]:
lt.insert(2, "python")

In [20]:
lt

[1, 2, 'python', 3, 4, 100, 200, 300, 400]

## 7. ลบข้อมูลในตำแหน่งที่ 6 ออกจาก list

In [21]:
del lt[5]

In [22]:
lt

[1, 2, 'python', 3, 4, 200, 300, 400]

## 8. แสดงจำนวนสมาชิกภายใน list

In [24]:
print(lt)

[1, 2, 'python', 3, 4, 200, 300, 400]

## 9. reverse list

In [25]:
lt[::-1]

[400, 300, 200, 4, 3, 'python', 2, 1]

In [26]:
"python"[::-1]

'nohtyp'

## 10. เคลียร์ list ให้เป็น list ว่าง

In [27]:
lt.clear()

In [28]:
lt

[]